<div class="jumbotron">
  <h2>Welcome to our Postmark Messages</h2>
  <p class="lead">Hi there! this is just a test app.</p>
  <p><a class="btn btn-lg btn-success" href="/outbound_messages" role="button">Go to Messages</a></p>
  <p> Today is <b><%= Date.today.strftime("%d %B %Y") %></b></p>
</div>
