<h1>Outbound Messages</h1>

<table>
  <thead>
    <tr>
      <th>Message ID</th>
      <th>Tag</th>
      <th>Received At</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |msg| %>
      <tr>
        <td><%= msg.message_id %></td>
        <td><%= msg.tag %></td>
        <td><%= msg.received_at.strftime("%m %B %Y %l:%M%P") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
