<p id="notice"><%= notice %></p>

<p>
  <strong>Payload:</strong>
  <%= @webhook.payload %>
</p>

<p>
  <strong>Webhook type:</strong>
  <%= @webhook.webhook_type %>
</p>

<%= link_to 'Back', outbound_webhooks_path %>
